body{
    font-family: sans-serif;
    letter-spacing: 1px;
    margin-top: 70px;
}
nav{
    
    background-color: #141414;
    div{
        .nn{
            li{
                
                padding-right: 10px;
                a{
                    color: #D1D0CF;
                }
            }
        }
    }
}